/* Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    background-color: #333;
    transform: scale(1.05);
}

h1.title {
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
}

h2.subtitle, h2.section-title {
    color: #333;
    padding: 10px;
    background-color: #eaeaea;
    margin-bottom: 10px;
    text-align: center;
}

h3.subsection-title {
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.resources {
    margin-left: 20px;
    padding-left: 20px;
}

code {
    background-color: #c9c9c9;
    padding: 2px 5px;
    border-radius: 5px;
}

p.content {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


li {
    margin-bottom: 5px;
}

li > ul.nested-list {
    margin-top: 5px;
}

li > ul.nested-list > li {
    margin: 5px 0;
    padding-left: 15px;
}

strong {
    color: #333;
}

footer {
    background-color: #0077b6;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#panic-button {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #c23939;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 20px auto;
}


#panic-button:hover {
    transform: scale(1.1);
}

footer p {
    margin: 0;
}