<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omer's Terraform Project</title>
    <link rel="stylesheet" href="static/css/landingPage.css">
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/architecture">Architecture</a>
        <a href="/">Monitoring</a>
        <a href="/promethuse">Promethuse</a>
    </nav>
</header>
<h1 class="welcome">Welcome to Omer's Terraform Project</h1>
<div class="about-container">
<div class="about">
    <h2>About My Project</h2>
    <p>This project utilizes Infrastructure as Code (IaC) principles through Terraform
        to automate the creation and management of AWS resources required to run a monitored Flask web server.
    </p>
</div>
</div>

<div class="features">
    <h2>Key Features</h2>
    <div class="feature-item">
        <h3>Flask <br> Web Server</h3>
        <p>A scalable and flexible infrastructure platform for hosting a Flask web application.</p>
    </div>
    <div class="feature-item">
        <h3>Monitored Infrastructure</h3>
        <p>Proactive detection and resolution of infrastructure issues for improved reliability.</p>
    </div>
    <div class="feature-item">
        <h3>Scalable <br> Infrastructure</h3>
        <p>Easily scale your infrastructure up or down as needed with Terraform's declarative approach.</p>
    </div>
</div>

<footer>
    <p>&copy; 2024 Omer's Terraform Project.<br> All rights reserved.</p>
</footer>
</body>
</html>